{% load static %}

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p>teste</p>
            </div>
            <div class="col-md-3">
              <p>teste2</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <a href="#" class="badge-btn">Badge Button</a>
              <p class="footer-credit">Design by > Lasertec</p>
            </div>
          </div>
        </div>
      </footer>
