{% load static %}

    <section class="hero" id="hero">
        <div class="container">
 <!--         <div class="row">
            <div class="col-md-12 text-right">
              <a href="#"><i class="fa fa-navicon fa-2x nav_slide_button"></i></a>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="animated bounceInDown">Lasertec</h1>
              <p class="animated fadeInUpDelay">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-5 text-center">
              <a href="https://www.youtube.com/embed/Wl1D3QiAVvU?controls=0" class="hero-play-btn various fancybox.iframe">Play Button</a>
            </div>
          </div>
        </div>
    </section>