{% extends 'base.html' %}
{% load static %}
{% block content %}

      <!-- navigation start -->

        {% include 'navigation.html' %}

      <!-- navigation end -->
      <!-- hero start -->

        {% include 'hero.html' %}

      <!-- hero end -->
      <!-- descricao start -->

        {% include 'descricao.html' %}

      <!-- descricao end -->
      <!-- media start -->

        {% include 'media.html' %}

      <!-- media end -->
      <!-- features start -->

        {% include 'servicos.html' %}

      <!-- features end -->
      <!-- design start -->

        {% include 'design.html' %}

      <!-- design end -->
      <!-- contato start -->

        {% include 'contato.html' %}

      <!-- contato end -->
      <!-- footer start -->

        {% include 'footer.html' %}

      <!-- footer end -->

{% endblock %}
