{% load static %}

    <section class="navigation">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
              <nav class="pull">
                <ul class="top-nav">
                  <li><a href="#descricao">Sobre <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                  <li><a href="#media">Media <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                  <li><a href="#features">Descrição <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                  <li><a href="#design">Detalhe <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                  <li class="nav-last"><a href="#contact">Contato <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
    </section>